@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<main>
    <h2>
        LOGIN
    </h2>
    <div class="container">
        <div class="LoginPage">
            <div asp-validation-summary="ModelOnly"></div>
            <form method="post">

                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" type="email" class="form-control" placeholder="Enter Your Email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" type="password" class="form-control" placeholder="Enter Your Password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="forgotpassword">
                    <a href="#">Forgot your password?</a>
                </div>
                <button type="submit" class="btn btn-primary">Sign In</button>
                <a asp-controller="Home" asp-action="Index">Return to Store</a>
                <hr>
                <a id="CreateAccount" asp-controller="Account" asp-action="Register">Create Account</a>
            </form>
        </div>
    </div>

</main>