@model ResetPasswordViewModel
@{
    ViewData["Title"] = "RedirectionToResetPassword";
}

<div class="login-area pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <div class="login">
                    <div class="login-form-container">
                        <div class="login-text">
                            <h2>RedirectionToResetPassword</h2>
                        </div>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="login-form">
                            <form method="post">
                                <input asp-for="Email" placeholder="Email">
                                <span asp-validation-for="Email" class="text-danger"></span>
                                <div class="button-box">
                                    <button type="submit" class="default-btn">Send</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>