@model ResetPasswordViewModel
@{
    ViewData["Title"] = "RedirectionToResetPassword";
}
 
<div class="login-area pt-150 pb-150 d-flex justify-content-center"   style="background-image: url(https://images.unsplash.com/photo-1464547323744-4edd0cd0c746?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);">
    <div class="redirectresetpassword">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <div class="login">
                        <div class="login-form-container">
                            <div class="login-text">
                                <h1>RedirectionToResetPassword</h1>
                            </div>
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="login-form">
                                <form method="post">
                                    <input asp-for="Email" placeholder="Email">
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                    <div class="button-box" style="margin-bottom:30px;">
                                        <button style="margin-bottom:100px; width:100px" type="submit" class="default-btn btn-primary">Send</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
</div>