@model ShopOfProducts
@{
    ViewData["Title"] = "Update Product";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Update Product</h4>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <form class="forms-sample" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="ProductName">Product Name</label>
                    <input asp-for="ProductName" class="form-control" placeholder="Name"></input>
                    <span asp-validation-for="ProductName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price">Price</label>
                    <input asp-for="Price" class="form-control" placeholder="Price">
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ProductDetails.Properties">Properties</label>
                    <input asp-for="ProductDetails.Properties" class="form-control" placeholder="Properties">
                    <span asp-validation-for="ProductDetails.Properties" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ProductDetails.Description">Product Description</label>
                    <input asp-for="ProductDetails.Description" class="form-control" placeholder="ProductDetail description">
                    <span asp-validation-for="ProductDetails.Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Photos1">Image</label>
                    <input asp-for="Photos1" class="form-control" accept="image/*" type="file">
                    <span asp-validation-for="Photos1" class="text-danger"></span>
                </div>
                <div class="form-group" id="categoryInput">
                    <label>Categories</label>
                    <select class="form-control" name="CategoryId" id="category" multiple>
                        @foreach (Category item in ViewBag.Categories)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                </div>
                <button type="submit" class="btn btn-primary mr-2">Add</button>
                <a asp-action="Index" class="btn btn-light">Cancel</a>
            </form>
        </div>
    </div>
</div>
