   header{
   .flexbox{
       font-family: 'Libre Franklin', sans-serif;
       font-weight: 400;
       font-size: smaller;
       background-color: #252823;
       height: 40px;
       display: flex;
       flex-direction: row;
       align-items:center;
       .searchpart{
           padding-left: 40px;
           img{
               width: 20px;
           }
            flex-grow: 10;
            a{
                text-decoration: none;
                color: $second_text_color;
            }
       }
        
       .logincreatepart{
           padding-right: 15px;
        a{
            text-decoration: none;
            color: $second_text_color;
        }
       }
      .cart{
        width: 90px;
        height: 30px;
         padding-top: 3px;
         padding-right: 15px;
         a{
             text-decoration: none;
            .cart1{
                border: solid 2px $second_text_color;
                width: 80px;
            }
         }
        
         img{
             width: 18px;
         }
          span{
              color: $second_text_color;
          }
      }
        
   }
    .freeshopping{
        background-color: $main_text_color;
        height: 50px;
        p{
            color: white;
            text-align: center;
            padding-top: 17px;
         }
      }

    .navbarm{
        background-color: white;
        .logo{
           width: 350px;
           padding: 25px;
                img{
                   max-width: 100%;
                }
              
        }
        .navbarright{
            font-family: $firstfontfamily;
           display: flex;
           justify-content: flex-end;
           padding: 20px;
                a{
                    color: $second_text_color;
                    text-decoration: none;
                    padding: 20px;
                }
                a:hover{
                    color: $main_text_color;
                    .shopnavbar{
                        display: block;
                    }
                }
            
            
        }
       
        
        
    }
     
     
   }
    
 