@media only screen and (max-width: 768px) {
    header {
        nav{
            img{
                width: 280px;
            }
            .hamburger{
                display: block;
            }
            .nav-ul{
                display: none;
                width: 100%;
                flex-direction: column;
            }
            .nav-ul.show{
                display: flex;
            }
            
        }
      }
    }
  
