@media only screen and (max-width: 768px) {
    header {
        nav{
            img{
                width: 280px;
            }
            .hamburger{
                display: block;
            }
            .nav-ul{
                display: none;
                width: 100%;
                flex-direction: column;
            }
            .nav-ul.show{
                display: flex;
            }
            
        }
      }
      main{
          .aboutus{
              text-align: center;
          }
      }
      footer{
          .footeremail{   
              .emailinput{
                  display: flex;
                  justify-content: center;
              }
              
          }
          .footercontact{
              text-align: center;
               .socialmedia{
                    display: flex;
                    justify-content: center;
               }
          }
          .footerlogo{
              display: flex;
              justify-content: center;
          }
          
      }
 }

 @media only screen and (min-width: 768px) {
     footer{
        .footerlogo{
            padding-top: 30px;
            img{
                max-width: 120%;
                 
            }
        }
        .footeremail{
            .emailinput{
                 
            }
        }
     }
 }
  
