header .freeshopping {
  background-color: #007580 !important;
  height: 50px;
}

header .freeshopping p {
  color: white;
  text-align: center;
  padding-top: 17px;
}

header .navbarm {
  background-color: white;
}

header .navbarm .logo {
  width: 350px;
  padding: 25px;
}

header .navbarm .logo img {
  max-width: 100%;
}

header .navbarm .navbarright {
  font-family: "Uchen", serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 20px;
}

header .navbarm .navbarright a {
  color: #a8a476;
  text-decoration: none;
  padding: 20px;
}

header .navbarm .navbarright a:hover {
  color: #007580 !important;
}

header .navbarm .navbarright a:hover .shopnavbar {
  display: block;
}

main .btn1 {
  border-color: #a8a476;
  color: #a8a476;
  padding: 32px 48px 28px;
  margin-left: 640px;
  margin-bottom: 100px;
}

main .btn2 {
  border-color: #a8a476;
  color: #a8a476;
  padding: 32px 48px 28px;
  margin-right: 640px;
  margin-bottom: 100px;
}

main .btn3 {
  border-color: #a8a476;
  color: #a8a476;
  padding: 32px 48px 28px;
  margin-right: 640px;
  margin-bottom: 100px;
}

main .btn4 {
  border-color: #a8a476;
  color: #a8a476;
  padding: 32px 48px 28px;
  margin-left: 640px;
  margin-bottom: 100px;
}

main .featuredproducts {
  font-family: "Uchen", serif;
  text-align: center;
  padding-top: 40px;
}

main .featuredproducts h4 {
  margin-top: 30px;
  font-size: 1.2875em;
  margin-bottom: 30px;
  color: #a8a476;
}

main .featuredproducts a {
  font-size: smaller;
  border-color: #007580 !important;
  border: 1px solid;
  padding: 10px;
  text-decoration: none;
  color: #007580 !important;
  border-color: black;
  border-width: 1px;
  font-size: 12px;
}

main .featuredproducts a:hover {
  border-color: #a8a476;
  color: #a8a476;
}

main .products {
  margin-top: 35px;
}

main .products a {
  text-decoration: none;
  font-family: "STIX Two Math", serif;
  color: #007580 !important;
  font-size: 1.125em;
  font-weight: bold;
}

main .products img {
  max-width: 100%;
  margin-bottom: 5px;
}

main .products .hoverimg1 img {
  display: none;
}

main .products .hoverimg2 img {
  display: none;
}

main .products .hoverimg3 img {
  display: none;
}

main .products .hoverimg4 img {
  display: none;
}

main .products .hoverimg5 img {
  display: none;
}

main .products .hoverimg6 img {
  display: none;
}

main .products .hoverimg7 img {
  display: none;
}

main .products .hoverimg8 img {
  display: none;
}

main .products a {
  display: block;
  text-align: center;
  margin-top: 40px;
}

main .products a:hover img {
  display: none;
}

main .products a:hover .hoverimg1 img {
  display: block;
}

main .products a:hover .hoverimg2 img {
  display: block;
}

main .products a:hover .hoverimg3 img {
  display: block;
}

main .products a:hover .hoverimg4 img {
  display: block;
}

main .products a:hover .hoverimg5 img {
  display: block;
}

main .products a:hover .hoverimg6 img {
  display: block;
}

main .products a:hover .hoverimg7 img {
  display: block;
}

main .products a:hover .hoverimg8 img {
  display: block;
}

main .shoppart {
  margin-top: 60px;
}

main .shoppart img {
  width: 100%;
}

main .shoppart .shopimg1 a {
  position: absolute;
  min-width: 240px;
  z-index: 1;
  left: 14%;
  bottom: -115%;
  text-decoration: none;
}

main .shoppart .shopimg3 a {
  position: absolute;
  min-width: 240px;
  z-index: 1;
  right: 1%;
  bottom: -115%;
}

main .aboutus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .aboutus img {
  max-width: 100%;
}

main .aboutus .textaboutus {
  padding-top: 18%;
  padding-bottom: 30px;
}

main .aboutus .textaboutus a {
  border: 1px solid;
  padding: 6px;
  border-color: #007580 !important;
  text-decoration: none;
  color: #007580 !important;
  font-size: small;
}

main .aboutus .textaboutus h3 {
  font-family: "STIX Two Math", serif;
  color: #818185;
  font-weight: bolder;
}

main .aboutus .textaboutus h2 {
  font-family: "Uchen", serif;
  color: #007580 !important;
  font-weight: bolder;
}

main .aboutus .textaboutus p {
  font-family: "STIX Two Math", serif;
  color: #818185;
}

footer {
  color: #a8a476;
  background-image: url(https://cdn.shopify.com/s/files/1/0283/5820/t/9/assets/footer.jpg?31526322267640576);
}

footer .firstpartfooter .footerlogo img {
  padding: 50px;
}

footer .firstpartfooter .footeremail {
  padding-top: 50px;
}

footer .firstpartfooter .footeremail h4 {
  text-align: center;
}

footer .firstpartfooter .footeremail p {
  color: #c2c2b4 !important;
}

footer .firstpartfooter .footeremail button {
  background-color: #a8a476;
}

footer .firstpartfooter .footerlinks {
  padding-top: 50px;
}

footer .firstpartfooter .footerlinks h4 {
  text-align: center;
}

footer .firstpartfooter .footerlinks ul {
  color: #c2c2b4 !important;
  padding-right: 30px;
  text-align: center;
  list-style-type: none;
}

footer .firstpartfooter .footercontact {
  padding-top: 50px;
}

footer .firstpartfooter .footercontact h4 {
  padding-left: 40px;
}

footer .firstpartfooter .footercontact p {
  color: #c2c2b4 !important;
}

footer .firstpartfooter .footercontact a {
  text-decoration: none;
  color: #c2c2b4 !important;
}

footer .firstpartfooter .footeraddress img {
  padding-top: 20px;
  padding-left: 20px;
}

footer .firstpartfooter .socialmedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100px;
  margin-left: 70px;
}

footer .firstpartfooter .socialmedia img {
  max-width: 100%;
}

footer .firstpartfooter img {
  max-width: 100%;
}

footer .secondpartfooter a {
  text-decoration: none;
  color: #a8a476;
}

footer .secondpartfooter p {
  text-align: center;
}

footer .secondpartfooter .bankcards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .secondpartfooter .bankcards p {
  padding-top: 50px;
}

footer .secondpartfooter .bankcards img {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 4%;
  padding: 6px;
}

.shopsection .productscategory ul {
  list-style-type: none;
}

.shopsection .productscategory ul a {
  text-decoration: none;
}

.shopsection .products a {
  display: block;
  text-align: center;
  margin-top: 40px;
}

.shopsection .products a:hover img {
  display: none;
}

.shopsection .products a:hover .hoverimg1 img {
  display: block;
}

.shopsection .products a:hover .hoverimg2 img {
  display: block;
}

.shopsection .products a:hover .hoverimg3 img {
  display: block;
}

.shopsection .products a:hover .hoverimg4 img {
  display: block;
}

.shopsection .products img {
  max-width: 100%;
}

.shopsection .products .hoverimg1 img {
  display: none;
}

.shopsection .products .hoverimg2 img {
  display: none;
}

.shopsection .products .hoverimg3 img {
  display: none;
}

.shopsection .products .hoverimg4 img {
  display: none;
}
