@{ 
    ViewData["Title"] = "Details";
    ProductDetails productDetails = Model;
}


<main>
    <div class="container-fluid">
        <div class="productpage">
            <div class="row">
                <div class="col-lg-7 col-md-12 col-12">
                   <a href="~/Images/@productDetails.ShopOfProducts.Image1">
                       <img class="img-fluid w-100 pb-1" src="~/Images/@productDetails.ShopOfProducts.Image1" id="MainImg" alt="">
                   </a>  
                </div>
                <div class="col-lg-5 col-md-12 col-12">
                    <div class="productright1">
                        <hr />
                        <h1>@productDetails.ShopOfProducts.ProductName</h1>
                        <p>$@productDetails.ShopOfProducts.Price.00</p>
                        <hr>
                        <div class="button1">
                          <a asp-controller="Home" asp-action="AddToBasket" asp-route-id="@productDetails.ShopOfProducts.Id"><button type="button" class="add-btn">Add To Card</button></a>   
                        </div>
                        <div class="button2">
                          <a asp-controller="Shop" asp-action="Index"><button type="button" class="buy-btn">Go To Back</button></a>   
                        </div>
                        <p>MORE PAYMENT OPTIONS</p>
                        <div class="productinfo">
                            <p>
                                DESCRIPTION: <br />
                               @productDetails.Description
                            </p>
                            <p>
                                @Html.Raw(productDetails.Properties)  
                            </p>
                        </div>
                        <div class="ourcards">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
