@{
    ViewData["Title"] = "Home Page";
    List<ShopOfProducts> shopOfProducts = Model;
}
<!--Main start-->
<main>
    <div class="container-fluid">
        <div class="shopsection">
            <div class="row">
                <div class="col-md-3">
                    <div class="productscategory">
                        <div class="browse" id="browse">
                            <h5 onclick="showCategories()">BROWSE</h5>
                        </div>
                        <hr>
                        <div class="browsecategory">
                            <ul class="browseul" id="browseul">
                                <li>
                                    <a href="#" data-id="all">All Products</a>
                                </li>

                                @*@foreach (var item in shopViewModel.Categories)
                                {
                                    <li>
                                        <a href="" data-id="@item.Name.ToLower()">@item.Name</a>
                                    </li>
                                }*@
                             <li>
                                <img src="./Images/up-arrow.png" alt="" id="HideCategory" onclick="hideCategories()">
                            </li>
                            </ul>
                        </div>

                    </div>

                </div>
                <div class="col-md-9 col-sm-12">
                    <div class="products">
                        <h1>INVENTORY</h1>
                        <div class="row" id="productList">
                            <input hidden id="productsCount" value="@ViewBag.ProductCount" />
                            <partial name="_ProductPartial"/>
                        </div>
                        <div class="row">
                            <button class="btn btn-info mt-3 mb-3" id="loadMore">Load more...</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>
<!--Main end-->