
@{
    ViewData["Title"] = "Details";
    Category category = Model;
}

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">@category.Name</h4>
                <p>
                   @Html.Raw(category.Description) 
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <a asp-action="Index" class="btn btn-primary">Go to Back</a>
</div>