
@{
    ViewData["Title"] = "Index";
    ReturnForm returnForm = Model;
}
<div class="returnform">
    <h1>
        @returnForm.Title
    </h1>
    <p>
        @Html.Raw(returnForm.Description)
    </p>
    <div class="formimage">
        <a href="#">
            <img src="./Images/aboutus/@returnForm.Image" alt="Image" data-fancybox="Images">
        </a>
    </div>
</div>
 