@model Bio 
 <!--Footer start-->
<footer>
    <div class="container-fluid">
        <div class="firstpartfooter">
            <div class="row">
                <div class="col-md-3 col-sm-12">
                    <div class="footerlogo">
                        <img src="~/EndProject/Images/footerimages/@Model.Logofooter" alt="">
                    </div>
                </div>
                <div class="col-md-3 col-sm-12">
                    <div class="footeremail">
                        <h4>NEWSLETTER</h4>
                        <p>
                            Subscribe for exclusive offers,special <br>
                            events and a good tall fish tale or two.
                        </p>
                        <div class="emailinput">
                            <input class="email-input" type="email" aria-label="Email" placeholder="Email">
                            <button role="button" aria-label="SIGN UP">SIGN UP</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12">
                    <div class="footerlinks">
                        <h4>LINKS</h4>
                        <ul>
                            <li><a href="shop.html">Shop</a></li>
                            <li><a href="about.html">About Us</a></li>
                            <li><a href="#">Shipping</a></li>
                            <li><a href="termsofservice.html">Terms</a></li>
                            <li><a href="#">Privacy</a></li>
                            <li><a href="returnspage.html">Returns</a></li>
                        </ul>
                    </div>

                </div>
                <div class="col-md-3 col-sm-12">
                    <div class="footercontact">
                        <h4>GET IN TOUCH</h4>
                        <p>Contact us <a href="#">info@mollyjogger.com</a></p>
                        <div class="socialmedia">
                            <ul>
                                <li><a href="@Model.FacebookLink"><img src="~/EndProject/Images/footerimages/socialmedia/facebook.svg" alt=""></a></li>
                                <li><a href="@Model.InstagramLink"><img src="~/EndProject/Images/footerimages/socialmedia/instagram.svg" alt=""></a></li>
                                <li><a href="@Model.PinterestLink"><img src="~/EndProject/Images/footerimages/socialmedia/pinterest.svg" alt=""></a></li>
                            </ul>

                        </div>
                        <div class="footeraddress">
                            <img src="~/EndProject/Images/footerimages/@Model.FooterAddressImg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="secondpartfooter">
            <div class="row">
                <p>Accepted Payments</p>
            </div>
            <div class="row">
                <div class="bankcards">
                    <img src="~/EndProject/Images/footerimages/bankcards/amex.svg" alt="">
                    <img src="~/EndProject/Images/footerimages/bankcards/credit-card.svg" alt="">
                    <img src="~/EndProject/Images/footerimages/bankcards/dinners-club.svg" alt="">
                    <img src="~/EndProject/Images/footerimages/bankcards/discover.svg" alt="">
                    <img src="~/EndProject/Images/footerimages/bankcards/jcb.svg" alt="">
                    <img src="~/EndProject/Images/footerimages/bankcards/paypal.svg" alt="">
                    <img src="~/EndProject/Images/footerimages/bankcards/shopify.svg" alt="">
                </div>
            </div>
            <div class="row">
                <p>
                    © 2021, <a href="#">Mollyjogger</a> | Site by Jafar Mamedzade.
                </p>
            </div>
        </div>
    </div>
</footer>
<!--Footer end-->