
@{
    ViewData["Title"] = "Basket";
    List<BasketViewModel> basketViewModels = Model;
    double total = 0;

}
<div class="baskettable">
    <table style="background-color: #007580 !important; " class="table">
        <thead>
            <tr>

                <th scope="col">Product Name</th>
                <th scope="col">Product Price</th>
                <th scope="col">Product Count</th>
                <th scope="col">Image</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in basketViewModels)
            {
                <tr>

                    <td>@item.ProductName</td>

                    <td id="price">Price: @item.Price</td>
                    <td>
                        <div id="plus" class="test1">+</div>
                        <div id="count">@item.Count</div>
                        <div id="minus" class="test2">-</div>
                    </td>


                    <td>
                        <img style="width:20%; border-radius:70%" src="~/Images/@item.Image1" />
                    </td>
                    <td>
                        <button id="@item.Id" class="btn btn-danger remove-button">Remove</button>
                    </td>
                </tr>
                @*@(total += item.Price)*@
            }
        </tbody>
    </table>
    <span>
        Total :
        <span id="total">@*@total*@</span>
    </span>
    <span>
       <a style="text-decoration:none; color:green;" asp-controller="Home" asp-action="Buybasket">Buy NOW!</a>
    </span>
</div>
 