@{
    ViewData["Title"] = "Home Page";
    HomeViewModel homeViewModel = Model;
}
 
<!--Main part of the page start-->
<main>
    <div class="owl-carousel owl-theme">
        @foreach (var item in homeViewModel.sliderImages)
        {
            <div class="slide slide-1" style="background-image: url(Images/@item.Image);">
                <div class="slide-content">
                    <button>SHOP NOW</button>
                </div>
            </div>
        }

    </div>

    <div class="container">
        <div class="featuredproducts">
            <h4>FEATURED PRODUCTS</h4>
            <a href="#">SHOP ALL PRODUCTS</a>
        </div>

        <div class="products">
            <div class="row">
                @foreach (var item in homeViewModel.Products)
                {
                    <div class="col-md-3 col-sm-6">
                        <a href="#">
                            <img src="~/EndProject/Images/productimages/@item.Image1" alt="">
                            <div class="hoverimg1">
                                <img src="~/EndProject/Images/productimages/@item.Image2" alt="">
                            </div>
                        </a>
                        <a href="#">@item.ProductName</a>
                    </div>
                }

            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="shoppart">
            <div class="row">
                @foreach (var item in homeViewModel.Shoppartreklams)
                {
                    <div class="col-md-4 col-sm-12">
                        <div class="shopimg1">
                            <img src="~/EndProject/Images/productimages/@item.Image" alt="">
                            <a href="#">@item.ButtonTitle</a>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="aboutus">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="teamphoto">
                        <img src="~/EndProject/Images/@homeViewModel.AboutUs.Image" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="textaboutus">
                        <h3>About Us</h3>
                        <br>
                        <h2>@homeViewModel.AboutUs.Title</h2>
                        <br>
                        <p>
                            @Html.Raw(homeViewModel.AboutUs.Description)
                        </p>
                        <a href="#" class="buttonaboutus">Read Our Story</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
<!--Main part of the page end-->