@model Bio
<!--Header start-->
<header>
    <div class="container-fluid">

        <div class="row loginaccount">
            <div class="flexbox">
                <div class="searchpart">
                    <img src="~/EndProject/Images/loupe (1).svg" alt="">
                    <a href="#">Search</a>
                </div>
                <div class="logincreatepart">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a asp-controller="Account" asp-action="Logout">@User.Identity.Name | Logout</a>
                    }
                    else
                    {
                        <a asp-controller="Account" asp-action="Login">Log in |</a>
                    }
                    <a href="#">Create account</a>
                </div>
                <div class="cart">
                    <a href="#">
                        <div class="cart1">
                            <img src="~/EndProject/Images/wicker-basket.svg" alt="">
                            <span>0</span>
                            <span>Cart</span>

                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row freeshopping">
            <div class="col-md-12">
                <p>FREE SHIPPING FOR ORDERS OVER $49</p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row navbarm">
            <nav>
                <a href="index.html"><img src="@Model.Logoheader" alt="No picture"></a>
                <div class="nav-links" id="navLinks">
                    <i class="fa fa-times" onclick="hideMenu()"></i>
                    <ul>
                        <div class="loginacc">
                        <li>
                            <a href="#">Log in</a>
                        </li>
                </div>
                <div class="createacc">
                    <li>
                        <a href="#">Create</a>
                    </li>
                </div>
                <div class="shop">
                    <li>
                        <a asp-controller="Shop" asp-action="Index">SHOP</a>
                        <div class="sub-menu">
                            <ul>
                                <li id="firstchild"><a href="#">SHOP</a></li>
                                <li><a href="#">CAMPING</a></li>
                                <li><a href="#">FISHING</a></li>
                                <li><a href="#">KNIFE</a></li>
                                <li><a href="#">WRITING</a></li>
                                <li><a href="#">GIFTS</a></li>
                                <li><a href="#">APPAREL</a></li>
                            </ul>
                        </div>
                    </li>
                </div>
                <div class="about">
                    <li><a href="about.html">ABOUT</a></li>
                </div>
                <div class="contact">
                    <li><a href="contact.html">CONTACT</a></li>
                </div>
                </ul>
        </div>
        <i id="fa1" class="fa fa-bars" onclick="showMenu()"></i>
        </nav>
    </div>
    </div>
</header>
<!--Header end-->