@model Bio
<!--Header start-->
<header>
    <div class="container-fluid">

        <div class="row loginaccount">
            <div class="searchdown" id="searchDown">
                <input id="home-input-search" type="search" placeholder="Search here...">
                <a href="#">
                    <img onclick="hideSearch()" src="./Images/close.svg" alt="">
                </a>
                <div id="searchResult"></div>
            </div>
            <div class="flexbox">
                <div class="searchpart" id="searchMain">
                    <a href="#">
                        <img onclick="showSearch()" src="~/Images/loupe (1).svg" alt="">
                    </a>
                    <a onclick="showSearch()" href="#">Search</a>
                </div>
                <div class="logincreatepart">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a asp-controller="Account" asp-action="Logout">@User.Identity.Name | Logout |</a>
                    }
                    else
                    {
                        <a asp-controller="Account" asp-action="Login">Log in |</a>
                    }
                    <a asp-controller="Account" asp-action="Register">Create account</a>
                </div>
                <div class="cart">
                    <a asp-controller="Home" asp-action="Basket">
                        <div class="cart1">
                            <img src="~/Images/wicker-basket.svg" alt="">
                            <span>@ViewBag.BasketCount</span>
                            <span>Cart</span>

                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row freeshopping">
            <div class="col-md-12">
                <p>FREE SHIPPING FOR ORDERS OVER $49</p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row navbarm">
            <nav class="headerpart">
                <a asp-controller="Home" asp-action="Index"><img src="@Model.Logoheader" alt="No picture"></a>
                <div class="nav-links" id="navLinks">
                    <i class="fa fa-times" onclick="hideMenu()"></i>
                    <ul>
                        <div class="loginacc">
                        <li>
                            <a asp-controller="Account" asp-action="Login">Log in</a>
                        </li>
                </div>
                <div class="createacc">
                    <li>
                        <a asp-controller="Account" asp-action="Register">Create</a>
                    </li>
                </div>
                <div class="shop">
                    <li>
                        <a asp-controller="Shop" asp-action="Index">SHOP</a>
                        <div class="sub-menu">
                            <ul>
                                <li><a asp-controller="Shop">CAMPING</a></li>
                                <li><a asp-controller="Shop">FISHING</a></li>
                                <li><a asp-controller="Shop">KNIFE</a></li>
                                <li><a asp-controller="Shop">WRITING</a></li>
                                <li><a asp-controller="Shop">GIFTS</a></li>
                                <li><a asp-controller="Shop">APPAREL</a></li>
                            </ul>
                        </div>
                    </li>
                </div>
                <div class="about">
                    <li><a asp-controller="Blog" asp-action="Index">BLOG</a></li>
                </div>
               
                <div class="contact">
                    <li><a asp-controller="Home" asp-action="ContactUs">CONTACT</a></li>
                </div>
                </ul>
</div>
        <i id="fa1" class="fa fa-bars" onclick="showMenu()"></i>
        </nav>
    </div>
    </div>
</header>
<!--Header end-->