#aboutmollyjogger{
    padding-left: 30px;
    padding-right: 20px;
    .ourstory{
         
        .ourstory2{
            img{
                max-width: 100%;
            }
        }
        .ourstory3{
            img{
                max-width: 100%;
            }
        }
    
        .bigtext{
            text-align: center;
        }
       
        .fishpng{
            img{
                max-width: 100%;
            }
        }
    }
    .aboutshopkeeper{
        .textshopkeeper{
            text-align: center;
        }
        .shopkeeperphotos{
            img{
                max-width: 100%;
            }
        }
    }
    .brands{
        .brandrow3{
            padding-bottom: 100px;
        }
        img{
            max-width: 100%;
            padding-top: 70px;
        }
    }
}
 