.shopsection {
    padding-bottom: 80px;

    .productscategory {
        h5 {
            padding-left: 30px;
            padding-top: 100px;
        }

        ul {
            list-style-type: none;

            a {
                text-decoration: none;
                color: black;
            }
        }

        .browsecategory {
            #HideCategory {
                 
                max-width: 10%;
            }
        }
    }

    .links {
        h5 {
            padding-left: 30px;
        }

        ul {
            list-style-type: none;

            a {
                text-decoration: none;
                color: black;
            }
        }
    }

    .products {
        button{
            width:200px;
        }
        h1 {
            padding-top: 50px;
            padding-left: 30px;
        }

        a {
            display: block;
            text-align: center;
            margin-top: 40px;
        }

        a:hover {
            img {
                display: none;
            }

            .hoverimg1 {
                img {
                    display: block;
                }
            }

            .hoverimg2 {
                img {
                    display: block;
                }
            }

            .hoverimg3 {
                img {
                    display: block;
                }
            }

            .hoverimg4 {
                img {
                    display: block;
                }
            }
        }

        img {
            max-width: 100%;
        }

        .hoverimg1 {
            img {
                display: none;
            }
        }

        .hoverimg2 {
            img {
                display: none;
            }
        }

        .hoverimg3 {
            img {
                display: none;
            }
        }

        .hoverimg4 {
            img {
                display: none;
            }
        }
    }
}
